:root {
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-24: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

ol,
ul {
  list-style: none;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

body {
  background-color: hsl(235, 16%, 15%);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: var(--fs-16);
  line-height: 1.25;
}
